/* .dialog_message_list {
  height: 90vh;
  position: relative;
} */

/* .list_items {
  position: absolute;
  width: 100%;
  bottom: 0;
} */

/* .empty {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 40%;
  font-size: 3rem;
} */
